<!DOCTYPE html>
<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="/blocks/head::head"/>
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div th:replace="blocks/header::header"/>
    <h3>Редактирование статьи</h3>
    <div class="container mt-10 mb-10" th:each="el : ${post}">
        <form method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Введите название статьи"
                   class="form-control"><br>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Введите анонс статьи"
                   class="form-control"><br>
            <textarea name="full_text" placeholder="Введите текст статьи"
                      class="form-control" th:text="${el.full_text}"/><br>
            <button type="submit">Обновить</button>
        </form>
        <form th:action="'/blog/' +${el.id} + '/remove'" method="post">
            <button type="submit">Удалить</button>
        </form>
    </div>
    <footer class="mt-auto text-white-50" th:insert="blocks/footer::footer"/>
</div>
</body>
</html>