<!DOCTYPE html>
<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="/blocks/head::head"/>
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div th:replace="blocks/header::header"/>
    <main role="main">
        <h1>BLOG</h1>
        <p class="lead">
            <a href="/blog/add" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Add article</a>
        </p>
        <div th:each="el : ${posts}">
                <div class="row">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em" th:text="${el.title}"></text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text" th:text="${el.anons}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" th:href="'/blog/' +${el.id}"
                                   class="btn btn-sm btn-outline-secondary">View
                                </a>
                                <a type="button" th:href="'/blog/' +${el.id}+ '/' + 'edit'"
                                   class="btn btn-sm btn-outline-secondary">Edit</a>
                            </div>
                            <small th:text="${data}" class="text-muted"></small>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    <footer class="mt-auto text-white-50" th:insert="blocks/footer::footer"/>
</div>
</body>
</html>