<!DOCTYPE html>
<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="/blocks/head::head"/>
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div th:replace="blocks/header::header"/>
    <div class="container mt-5 mb-5">
        <div th:each="el : ${post}" class="alert alert-secondary" role="alert">
            <h1 th:text="${el.title}"></h1>
            <p th:text="${el.full_text}"></p>
            <p>Дата создания: <span th:text="${el.data}"/></p>
            <a th:href="'/blog/' +${el.id} + '/edit'" class="btn btn-sm btn-outline-secondary">Редактировать</a><br>
        </div>
    </div>
    <footer class="mt-auto text-white-50" th:insert="blocks/footer::footer"/>
</div>
</body>
</html>