<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="blocks/head :: head"/>
<body>
<div id="wrapper">
    <div th:text="${message}"/>
    <h3>Sign up</h3>
    <form id="signin" th:action="@{/registration}" method="post">
        <input type="text" id="user" name="username" placeholder="login"/>
        <input type="password" id="password" name="password" placeholder="pass"/>
        <button type="submit">Sing Up</button>
        <p>Already have login? <a href="/login">click here</a></p>
    </form>
</div>
</body>
</html>