<div th:fragment="blocks/header::header">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0" th:text="${title}"></h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" href="/index">Home</a>
                <a class="nav-link" href="/blog">Blog page</a>
                <a class="nav-link" href="/about">Contact</a>
                <form class="nav-link" th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </nav>
        </div>
    </header>
</div>